body {
    background-color: #EEF9BF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header {
    width: 100vw;
    position: relative;
  }

  .title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 65.63px;
    color: #75B79E;
    padding-top: 40px;
    padding-bottom: 47px;
}

.timer {
    font-family: "Roboto", sans-serif;
    color: red;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 14px;
    right: 20px;
}

.container {
    width: 100vw;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    gap: 34px;
}

.centralized {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 117px;
    height: 146px;
    cursor: pointer;
    position: relative;
}

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.back-face {
    transform: rotateY(180deg);
}

.turned .back-face {
    transform: rotateY(0deg);
}

.turned .front-face {
    transform: rotateY(-180deg);
}

img {
    width: 100px;
    height: 100px;
}

@media(max-width: 630px) {
    .title {
        font-size: 36px;
        line-height: 42.19px;
        text-align: center;
    }
    .container {
        width: 80%;
        flex-direction: column;
        align-items: center;
    }
}
